* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #83d2f1;
  color: #242424;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Rubik';
  src:
    url('../assets/fonts/Rubik-Regular.woff2') format('woff2'),
    url('../assets/fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src:
    url('../assets/fonts/Rubik-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Rubik-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body, html {
  height: 100%;
}

#root {
  height: 101%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Rubik';
  font-weight: normal;
}
