.card {
    display: flex;
    height: 350px;
    flex-direction: column;
    max-width: 180px;
    border: 1px solid #eeeeee;
    transition: all 0.2s ease;
    padding: 5px;
    border-radius: 1.5rem;
    margin-bottom: 10px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover {
        box-shadow: rgba(250, 250, 250, 0.966) 0px 7px 29px 0px;
    }
}

.image {
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    width: 170px;
    height: 170px;
    background-color: #ffffff;
}

.title {
    font-size: calc(10px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
    text-align: center;
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
}

.text {
    align-self: end;
    height: 110px;
    text-align: justify;
    background-color: #ffffff;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    font-size: calc(10px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
    max-width: 100%;
    word-wrap: break-word;
}