.input_block {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
}

.input {
    width: 75%;
    height: 25px;
}

.errors_block {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    top: 28px;
}

.error {
    color: red;
    font-size: 12px;
    margin-right: 5px;
}
