body {
    font-family: 'Rubik';
    font-weight: normal;
}

.search_section, .cards_section {
    display: flex;
    
    margin: 10px auto;
    flex-wrap: wrap;
}

.search_section{
    max-width: 70%;
    justify-content: space-between;
}

.cards_section {
    max-width: 70%;
    position: relative;
    justify-content: space-between;
}

